*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: white;
  font-size: 1.6rem; }

.container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(6, minmax(min-content, 14rem)) [center-end] minmax(5rem, 1fr) [full-end]; }

a,
a:link,
a:visited {
  color: #fff;
  text-decoration: none; }

.country {
  grid-column: 1 / -1;
  padding: 2rem; }
  .country__header {
    text-align: center;
    text-transform: uppercase; }
  .country__body {
    margin: 3rem 0;
    width: 70%; }
  .country__img img {
    width: 18rem;
    height: 15rem; }
  .country__img-1 img {
    border: 1px solid black; }
  .country__img-container {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 40.625em) {
      .country__img-container {
        flex-direction: column; } }
  .country__details {
    width: fit-content;
    margin: 2rem 0;
    border-radius: 8px;
    border: 1px solid black; }
  .country__details-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    border-top: 1px solid black;
    padding: .6rem; }
    .country__details-item span:first-child {
      font-size: 1.6rem;
      font-weight: 600; }
    .country__details-item span {
      font-size: 1.6rem; }

.footer {
  grid-column: full-start / full-end;
  color: #fff;
  text-align: center;
  background-color: black;
  padding: 4rem; }

.header {
  grid-column: full-start / full-end;
  padding: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2rem 0; }
    @media only screen and (max-width: 40.625em) {
      .header__form {
        width: 90%; } }
  .header__search {
    font-family: "Rubik", sans-serif;
    width: 100%;
    min-height: 3rem;
    display: inline-block;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5rem;
    font-size: 1.6rem;
    background-color: #e7e5e5; }
  .header__search:focus {
    background-color: #fff;
    outline: 1px solid orange; }
  .header__search-btn {
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    background-color: black;
    min-height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -9.9rem;
    padding: 1rem;
    border-radius: 5rem;
    transition: all .2s; }
  .header__search-btn:hover {
    transform: scale(1.05); }
  .header__search-btn svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff; }
  .header__region {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.6rem; }
    .header__region-dropdwn {
      font-family: "Rubik", sans-serif;
      height: 3rem;
      border-radius: 10px;
      width: 15rem;
      border: 1px solid #5a476b;
      font-size: 1.6rem;
      text-align: center; }

.logo {
  background-color: black;
  grid-column: full-start / full-end;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.4rem 0; }
  .logo h4 {
    margin-left: 1rem; }
  .logo__container {
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center; }
    .logo__container-img {
      object-fit: cover;
      border-radius: 50%;
      max-width: 100%; }

.pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem; }

.results {
  grid-column: center-start / center-end;
  padding: 2rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  justify-content: center;
  gap: 1rem; }
  @media only screen and (max-width: 40.625em) {
    .results {
      grid-column: full-start / full-end;
      grid-template-columns: 1fr; } }
  .results__card {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
    cursor: pointer;
    overflow: hidden; }
    .results__card-img img {
      width: 100%;
      height: 20rem;
      object-fit: cover; }
    .results__card-deets {
      font-size: 1.6rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      justify-items: start;
      align-items: center; }
  .results__icon {
    height: 1rem;
    width: 1rem; }
  .results__list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    justify-content: center;
    gap: 1rem; }
    @media only screen and (max-width: 40.625em) {
      .results__list {
        grid-template-columns: repeat(2, minmax(20rem, 1fr)); } }
    @media only screen and (max-width: 400px) {
      .results__list {
        grid-template-columns: 1fr; } }

.spinner {
  margin: 5rem auto;
  grid-column: 2 / 3;
  text-align: center; }
  @media only screen and (max-width: 40.625em) {
    .spinner {
      grid-column: 1 / -1; } }

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: black;
  animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1; }
  @media only screen and (max-width: 40.625em) {
    .heading-1 {
      font-size: 4rem; } }

.heading-2 {
  font-size: 4rem;
  line-height: 1; }

.heading-3 {
  font-size: 3.5rem;
  line-height: 1; }

.heading-4 {
  font-size: 2.5rem;
  line-height: 1; }

.btn {
  font-family: "Rubik", sans-serif;
  border: none;
  cursor: pointer; }

.btn--inline {
  font-family: "Rubik", sans-serif;
  border: none;
  cursor: pointer;
  background-color: black;
  color: #fff;
  font-size: 1.6rem;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 5rem;
  margin: 1rem 0; }

.text-light {
  color: #fff; }

.bold {
  font-weight: 700; }
