.footer {
    grid-column: full-start / full-end;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to right bottom, $color-secondary, $color-secondary-dark);
    padding: 4rem;
}